version: "3.9"

services:
  api:
    build: .
    container_name: finuce_api
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - redis
      - mongo

  redis:
    image: redis:7
    container_name: finuce_redis
    restart: always
    ports:
      - "6379:6379"

  mongo:
    image: mongo:6
    container_name: finuce_mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
