services:
  backend:
    build: ./backend
    dns:
      - 8.8.8.8
      - 1.1.1.1
    container_name: fin-backend
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"
    depends_on:
      - mongo
      - redis


  frontend:
    build: ./frontend
    container_name: fin-frontend
    env_file:
      - ./frontend/.env
    ports:
      - "5173:5173"
    depends_on:
      - backend


  redis:
    image: redis:7
    container_name: fin-redis
    ports:
      - "6379:6379"

  mongo:
    image: mongo:6
    container_name: fin-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db    

volumes:
  mongo_data: